In [1]:
import numpy as np
import pandas as pd

In [19]:
data  = pd.read_csv('SimpleData.csv')
data.head()

   ID  Onion  Potato  Burger  Milk  Beer
0   1      1       1       1     0     0
1   2      0       1       1     1     0
2   3      0       0       0     1     1
3   4      1       1       0     1     0
4   5      1       1       1     0     1

In [20]:
data = data.drop(columns=['ID'])

In [21]:
from mlxtend.frequent_patterns import apriori, association_rules

In [22]:
frq_items = apriori(data, min_support = 0.05, use_colnames = True)

In [23]:
rules = association_rules(frq_items, metric ="lift", min_threshold = 1) 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]).reset_index()
rules.head()

,index,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,103,"(Milk, Onion, Burger)","(Potato, Beer)",0.166667,0.333333,0.166667,1.0,3.0,0.111111,inf
1,56,"(Potato, Beer)","(Onion, Burger)",0.333333,0.500000,0.333333,1.0,2.0,0.166667,inf
2,74,"(Onion, Milk, Burger)",(Beer),0.166667,0.500000,0.166667,1.0,2.0,0.083333,inf
3,96,"(Milk, Potato, Onion, Burger)",(Beer),0.166667,0.500000,0.166667,1.0,2.0,0.083333,inf
4,108,"(Potato, Milk, Beer)","(Onion, Burger)",0.166667,0.500000,0.166667,1.0,2.0,0.083333,inf

In [38]:
data1 = data.replace(1, pd.Series(data.columns, data.columns))

In [40]:
data1 = data1.replace(0,np.NaN)
data1 = data1.apply(lambda x: list(map(str,x.to_list())), axis=1).to_list()

In [41]:
from apyori import apriori as AP

In [57]:
rules = AP(data1, min_support = .05, min_confidence = 0.05, min_lift = 2, min_length = 2)

In [58]:
MB = list(rules)
listRules = [list(MB[i][0]) for i in range(0,len(MB))]

In [59]:
MB

[RelationRecord(items=frozenset({'Milk', 'Onion', 'Burger', 'Beer'}), support=0.16666666666666666, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Beer'}), items_add=frozenset({'Onion', 'Milk', 'Burger'}), confidence=0.3333333333333333, lift=2.0), OrderedStatistic(items_base=frozenset({'Milk', 'Onion', 'Burger'}), items_add=frozenset({'Beer'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'Potato', 'Onion', 'Burger', 'Beer'}), support=0.3333333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Potato', 'Beer'}), items_add=frozenset({'Onion', 'Burger'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'Onion', 'Burger'}), items_add=frozenset({'Potato', 'Beer'}), confidence=0.6666666666666666, lift=2.0)]),
 RelationRecord(items=frozenset({'Onion', 'Potato', 'Burger', 'Milk', 'Beer'}), support=0.16666666666666666, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Beer'}), items_add=frozenset({'Milk', 'Potato', 'Onion', 'Burger'}), confidence=0.3333333333333333, lift=2.0), OrderedStatistic(items_base=frozenset({'Potato', 'Beer'}), items_add=frozenset({'Milk', 'Onion', 'Burger'}), confidence=0.5, lift=3.0), OrderedStatistic(items_base=frozenset({'Onion', 'Burger'}), items_add=frozenset({'Potato', 'Milk', 'Beer'}), confidence=0.3333333333333333, lift=2.0), OrderedStatistic(items_base=frozenset({'Potato', 'Milk', 'Beer'}), items_add=frozenset({'Onion', 'Burger'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'Milk', 'Onion', 'Burger'}), items_add=frozenset({'Potato', 'Beer'}), confidence=1.0, lift=3.0), OrderedStatistic(items_base=frozenset({'Milk', 'Potato', 'Onion', 'Burger'}), items_add=frozenset({'Beer'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'Onion', 'Potato', 'Burger', 'nan', 'Beer'}), support=0.16666666666666666, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Onion', 'Burger'}), items_add=frozenset({'Potato', 'nan', 'Beer'}), confidence=0.3333333333333333, lift=2.0), OrderedStatistic(items_base=frozenset({'Potato', 'nan', 'Beer'}), items_add=frozenset({'Onion', 'Burger'}), confidence=1.0, lift=2.0)])]